html, body, #root, .App {
  height: 100%;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.containers{
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}
.containers .leftSlider{
  width: 200px;
  background: #001529;
}
.containers .content {
  flex-grow: 1;
  overflow: auto;
}

